version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/lr3db
  
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    volumes:
      - ./images/anime.jpg:/usr/share/nginx/html/anime.jpg
    depends_on:
      - backend

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: lr3db
    ports:
      - "5432:5432"
